.movies .movie{
    background-color: black;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: wheat;
}

.movies .movie{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
}

.movie img{
    position: relative;
    top: 5px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
}

.movie .movie_year{
    margin: 0%;
    font-weight: 300;
}

.movie .movie_title{
    margin-bottom: 10px;
    font-size: 24px;
}

.movie .movie_summary{
    font-size: 16px;
}

.movie .movie_genres{
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.movie_genres li{
    margin-right: 10px;
    font-size: 14px;
}